@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Bellefair&display=swap");

html,
body {
  padding: 0;
  font-family: "Bellefair", serif;
}

main {
margin-top: 20vh;
}

header {
text-align: center;
  font-weight: bolder;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 20vh;
  background-color: white;
}

h1 {
  border: rgb(214, 134, 134) 7px solid;
  border-radius: 10px;
  border-style: dotted;
  width: 60vh;
  padding: 1em;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.1em;
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 4vh;
 

}

.panel {
  background-color: grey;
  position: relative;
  height: 25vw;
  width: 100vw;
  color: aliceblue;
}

.panel .image {
  position: absolute;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
 
  
  
}

.panel:nth-child(1) .image {
  background-image: url(https://media.giphy.com/media/X3n7JP4HHuJLa/source.gif);
  
}

.panel:nth-child(2) .image {
  background-image: url(https://media.giphy.com/media/hKrpeqRJowwi4/source.gif);
}
.panel:nth-child(3) .image {
  background-image: url(https://media.giphy.com/media/P2IERnBfObaBW/source.gif);
}
.panel:nth-child(4) .image {
  background-image: url(https://media.giphy.com/media/1Yz30yzYz9rLa/source.gif);
}

.panel:nth-child(5) .image {
  background-image: url(https://media.giphy.com/media/3rlkEh9MhFz9JbxvQ1/source.gif);
}

.panel p {
  padding: 1em;
  margin: 0;
  position: relative;
  font-size: 3vw;
}

.panel:nth-child(even) .image {
  position: absolute;
  right: 0vw;
  left: 50vw;
}
.panel:nth-child(odd) .image {
  position: absolute;
  right: 50vw;
  left: 0vw;
}
.panel:nth-child(odd) .text {
  position: absolute;
  right: 0vw;
  left: 50vw;
}
.panel:nth-child(even) .text {
  position: absolute;
  right: 50vw;
  left: 0vw;
}

.panel p::first-letter {
    font-size: 200%;
    color: pink;

footer {
  margin-top: 4em;
  margin-bottom: 4em;
}
